<%-include('partials/header')%>
<form action="/login" method="POST">
    <input type="text" placeholder="Username" name="username">
    <input type="password" name="password" placeholder="Password">    
    <button>Login</button>
</form>

<%-include('partials/footer')%>